{% extends 'df_goods/base.html' %}
{% block head %}
<script>
 $(function(){
   $('.add_goods').click(function(){
     counts = 1;
     foodid = $(this)[0].dataset.id;
     url = '/cart/addcart'+foodid+'&'+counts+'/';
     $.get(url,function(data){
       $('#show_count').text(data.count);
     });
   });
 })
</script>
{% endblock head%}
{% block list %}
<div class="r_wrap fr clearfix">
  <ul class="goods_type_list clearfix">
    {% for item in page %}
    <li>
      <a href="/good{{item.object.id}}/"><img src="/static/{{item.object.gpic}}"></a>
      <h4><a href="/good{{item.object.id}}/">{{item.object.gtitle}}</a></h4>
      <div class="operate">
	<span class="prize">￥{{item.object.gprice}}</span>
	<span class="unit">{{item.object.gprice}}/{{item.object.gunit}}</span>
        {% if request.session.uname|default:'' != '' %}
	<a href="javascript:;" class="add_goods" data-id="{{item.object.id}}" title="加入购物车"></a>
        {% else %}
        <a href="/user/login/" class="add_goods" data-id="{{item.object.id}}" title="加入购物车"></a>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
  
  <div class="pagenation">
    {% if page.has_previous %}
    <a href="/search/?q={{query}}&amp;page={{page.previous_page_number}}"><上一页</a>
      {% endif %}  
      {% for index in page.paginator.page_range %}
      {% if index == page.number %}
      <a href="/search/?q={{query}}&amp;page={{index}}" class="active">{{index}}</a>
      {% else %}
      <a href="/search/?q={{query}}&amp;page={{index}}">{{index}}</a>
      {% endif %}
      {% endfor %}
      {% if page.has_next %}
      <a href="/search/?q={{query}}&amp;page={{page.next_page_number}}">下一页></a>
      {% endif %}  
  </div>
</div>
{% endblock list %}
